{% extends 'app1/base.html' %}

{% block titel %}Neuer Titel{% endblock titel %}
{% block content %}
Hier kommt das neue Inhalt hin 

<div class ="col">

    <h1>bitte Bestellung angeben </h>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>                                                                              
{% endblock content %}  