h1 {
    color: purple ;
}

a {
    color: yellow;
}

body {
    background-color: black;
    href= "vignette.wikia.nocookie.net/minions/images/7/75/Bob_Minion.jpg/revision/latest?cb=20150812131120&path-prefix=de"
    
}